<!DOCTYPE html>
<html>

<head>
	<title>User List Page</title>
</head>

<body>
	<h3>Userlist</h3>

	<a href="/home">Back</a> |
	<a href="/logout">logout</a>
	<br>

	<table border="1">
		<tr>
			<td>ID</td>
			<td>Request ID</td>
			<td>Name</td>
			<td>Mobile</td>
			<td>Email</td>
			<td>Address</td>
			<td>Gender</td>
			<td>Image</td>
			<td>Action</td>
		</tr>

		<% for(var i=0; i< userlist.length; i++ ){ %>
			<tr>
				<td>
					<%= userlist[i].id %>
				</td>
				<td>
					<%= userlist[i].pid %>
				</td>
				<td>
					<%= userlist[i].name %>
				</td>
				<td>
					<%= userlist[i].mobile %>
				</td>
				<td>
					<%= userlist[i].email %>
				</td>
				<td>
					<%= userlist[i].address %>
				</td>
				<td>
					<%= userlist[i].gender %>
				</td>
				<td>
					<%= userlist[i].image %>
				</td>
				<td>
					<a href="/user/edit/<%=userlist[i].id%>">Edit</a> |
					<a href="/user/delete/<%=userlist[i].id%>">Delete</a>
				</td>
			</tr>
			<% } %>
	</table>
</body>

</html>