<!DOCTYPE html>
<html>

<head>
	<title>Edit User</title>
</head>

<body>
	<form method="post">
		<fieldset>
			<legend>Edit User</legend>
			<table>
				<tr>
					<td>ID</td>
					<td><input type="text" name="id" value="<%=pid%>"></td>
				</tr>
				<tr>
					<td>name</td>
					<td><input type="text" name="name" value="<%=name%>"></td>
				</tr>
				<tr>
					<td>email</td>
					<td><input type="text" name="email" value="<%=email%>"></td>
				</tr>
				<tr>
					<td>mobile</td>
					<td><input type="text" name="mobile" value="<%=mobile%>"></td>
				</tr>
				<tr>
					<td>gender</td>
					<td><input type="text" name="gender" value="<%=gender%>"></td>
				</tr>
				<tr>
					<td>address</td>
					<td><input type="text" name="address" value="<%=address%>"></td>
				</tr>
				<tr>
					<td>image</td>
					<td><input type="text" name="image" value="<%=image%>"></td>
				</tr>
				<tr style="display: none;">
					<td>vote</td>
					<td><input type="text" name="vote" value="<%=vote%>"></td>
				</tr>

				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Accept"></td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>

</html>